#topLeft, #topCenter, #topRight, #middleLeft, #middleCenter, #middleRight, #bottomLeft, #bottomCenter, #bottomRight {
  border: 2px solid black;
}
/*#middleCenter {
  border-left: 3px solid black;
  border-right: 3px solid black;
}*/

img {
  visibility: hidden;
  opacity: .3;
}

h1 {
  font-size: 273px;
  margin: 0;
  color: white;
}

#new {
  font-size: 100px;
}

body {
  background-image: url(../img/background.jpg);
  color: white;

}
