#topLeft, #topCenter, #topRight, #middleLeft, #middleCenter, #middleRight, #bottomLeft, #bottomCenter, #bottomRight {
  border: 2px solid grey;
}

img {
  visibility: hidden;
  opacity: .3;
}

h1 {
  font-size: 273px;
  margin: 0;
  color: white;
  text-align: center;

}

#new {
  font-size: 100px;
}

body {
  background-image: url(../img/background.jpg);
  color: white;

}

#row {
  display: none;
}

#playerOneButton {
  visibility: visible;
  opacity: 1;
}

#playerTwoButton {
  visibility: visible;
  width: 108px;
  opacity: 1;
}
